body{
    max-width: 640px;
    margin: 20px auto; 
    font-family: sans-serif;
    text-align:center;
    padding:20px;
}
img{
    max-width: 100%;
    max-height:50vh;
    aspect-ratio:1.5/1;
    object-fit:cover;
    margin:20px;
    border-radius:20px;
    border-radius: 50px;
background: #e0e0e0;
box-shadow:  10px 10px 30px #bebebe,
             -10px -10px 30px #ffffff;
    
}

a{
    background:none;
    padding:4px;
    text-decoration:none;
    color:coral;
    font-weight:bold;
    border-radius:20px;
    border:coral 1px solid;
    display:inline-block;
    min-width:14px;
    margin:2px;
}

a:hover,
.current{
    background:coral;
    color:white;
}