@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    box-sizing:border-box;
}

:root{
    --c:burlywood;
}

body{
    background: var(--c);
    color:white;
    margin:0 auto;
    padding:10px;
    font-family: "comfortaa",sans-serif;
}

ul{
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    gap:8px;

    padding-left:0;
    justify-content:center;
    

}

ul .tarjeta{
    margin-bottom:20px;
    
}

ul li ul {
    display:blocK;
    list-style: none;
    margin-bottom:30px;
    
}

ul li ul li{
    list-style:disc;
}

img {
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius: 20px;
    
}

.aplauso{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.mensaje{
    color:black;
    font-family: "comfortaa",sans-serif;
}


h1,h2{
    text-align: center;
}

a{
    background:white;
    color:var(--c);
    font-weight:bold;
    padding:12px;
    min-width: 99px;
    text-align:center;
    border-radius:20px;
    text-decoration:none;
    margin: 10px 0;
    display:inline-block;
}


.ficha{
    max-width:320px;
    margin:20px auto;
}

.ficha img{ width:100%;}

.ficha a{
    width:100%;
}

.ficha .tablilla{
    border-radius:20px;
    border:solid 1px white;
}

.ficha .tablilla p{
    padding:0px 20px 10px 20px;
}


.ficha .tablilla p:not(:last-child){
    border-bottom:solid 1px white;
}

.ficha .tablilla p:last-child{
    padding-bottom:0px;
}



